<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" src="./css/folha-estilos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
</head>

<body>

    <!-- INICO Barra de Navegaçao-->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="./home.html">High Tech Cursos</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="./cadastro-aluno.html"><span class="glyphicon glyphicon-plus"></span> Cadastro de Alunos</a></li>
                <li><a href="./cadastro-turma.html"><span class="glyphicon glyphicon-plus"></span> Cadastro de Turmas</a></li>
                <li><a href="./lista-presenca.html"><span class="glyphicon glyphicon-list-alt"></span> Lista de Presença</a></li>
            </ul>
        </div>
    </nav>
    <!-- FIM Barra de Navegaçao-->

    <div id="application" class="container">
        <form>
            <h2>Cadastro de Alunos</h2>
            <div class="input-group">
                <span class="input-group-addon">Ra</span>
                <input id="input-ra" type="text" v-model="aluno.ra" class="form-control" name="msg" placeholder="Digite o RA do aluno">
            </div><br>
            <div class="input-group">
                <span class="input-group-addon">Nome</span>
                <input id="input-nome" type="text" v-model="aluno.nome" class="form-control" name="msg" placeholder="Digite o nome do aluno">
            </div><br>
            <div>
                <button v-on:click="cadastrar" class="btn btn-success btn-lg pull-left">Salvar</button>
            </div>
        </form>

        <h2><br>Registros</h2>
        <table id="table" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>RA</th>
                    <th>NOME</th>
                </tr>
            </thead>
            <tbody v-for="aluno in alunos">
                <tr>
                    <td>{{aluno.ra}} </td>
                    <td>{{aluno.nome}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

<script>
    var app = new Vue({
        el: '#application',
        data: {
            aluno: { id: "", ra: "", nome: "" },
            turma: { id: "", nome: "", alunos: [] },
            alunos: [],
            turmas: []
        },
        created:
        function () {
            this.$http.get("http://localhost:8081/aluno/").then(function (response) {
                this.alunos = response.body;
            }, function (response) {
                console.log("nao funcionou");
            })

            this.$http.get("http://localhost:8081/turma/").then(function (response) {
                this.turmas = response.body;
            }, function (response) {
                console.log("nao funcionou");
            })
        },
        methods: {
            cadastrar: function () {
                this.$http.post("http://localhost:8081/aluno/", this.aluno).then(function (response) {
                    this.alunos.push(response.body);
                }, function (response) {
                    console.log("nao funcionou");
                })
            }
        },
    });

</script>

</html>